@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: url(./bg.jpg);
    display: flex;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins';
    color: white;
}

.span-coracao{
    margin-top: 60px;
    float: left;
    color: #ffffff;
    width: 80px;
    height: 80px;
    font-size: 60px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    transition: 0.9s;

}

h1{
    padding-top: 60px;
    font-weight: 600;
    font-size: 4rem;
    margin-top: 2rem;
}

.countdown-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    border: solid 1px white;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 4px 4px 10px rgb(255, 255, 255);
    margin-bottom: 4rem;
}

.text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}

@media screen and (max-width: 414px) {
    img{
        width: 80px;
        height: 80px;
        margin-top: 2px;
    }

    h1 {
        padding-top: 5px;
        font-size: 20px;
    }

    .countdown-container {
        padding: 5px;
        margin: 30px;
    }

    .text {
        font-weight: bold;
        font-size: 4rem;
        line-height: 1;
        margin: 2rem 2rem;
    }
}